.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.img{
    max-height: 45px;
    max-width: 45px;
    object-fit: cover;
    border-radius: 100%;
}
.hour{
    font-size: 13px;
}