.container{
    display: flex;
    flex-direction: column;
    background: #202020;
    width: 33.3%;
    height: 350px;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
    border-radius: 2px;
}
.container:hover{
    transition: all .3s ease-in-out;
    background: #3a3a3a;
}

.image{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: -1px 11px 21px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 11px 21px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 11px 21px 6px rgba(0,0,0,0.75);
}
.description{
    font-weight: 300;
}