.container {
    background: #000;
    color: #ccc;
    height: 100%;
    padding: 5px 20px 0 20px;
    display: flex;
    flex-direction: column;
}
.btnOpt {
    font-size: 30px;
    font-weight: 900;
    color: #ccc;
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: left;
}

.btn {
    background: none;
    color: #ccc;
    border: none;
    outline: 0;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: left;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
}
.btn:hover{
    transition: all .3s ease-in-out;
    color: #fff
}
.btn2 {
    background: none;
    color: #ccc;
    border: none;
    outline: 0;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: left;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}
.btn2:hover{
    transition: all .3s ease-in-out;
    color: #fff
}
